  <base href="@BlogSettings.BaseRef" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  @if (string.IsNullOrEmpty(Model.GetString("Title")))
  {
  <title>@BlogSettings.Title</title>
  }
  else
  {
  <title>@Model.GetString("Title")</title>
  }

  @await Html.PartialAsync("_partials/_favicons")

  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> <!--Replace with your tailwind.css once created-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">