<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseRef" value="/"/>
    <add key="ContactEmail" value="denis@olifer.org"/>
    <add key="ServerUri" value="https://olifer.org"/>
    <add key="Title" value="Denis Olifer" />
    <add key="Description" value="Thoughts, stories and ideas."/>
    <add key="GoogleAnalytics" value=""/>
    <add key="lang" value="en-US"/>
  </appSettings>
</configuration>
